/* ----- Font Import ----- */
@font-face {
  font-family: BebasNeue;
  src: url('../fonts/BebasNeueBold.ttf') format('TrueType');
}

@font-face {
  font-family: GothamLight;
  src: url('../fonts/GothamLight.otf') format('OpenType');
}

@font-face {
  font-family: GothamMedium;
  src: url('../fonts/GothamMedium.otf') format('OpenType');
}

:root {
  --lightBlue: rgb(0,156,222);
  --darkBlue: rgb(0,24,113);
  --Yellow:#FFC72C;

}

/* General Part */
html, body {
  margin:0;
  font-size: 14px;
  font-family: 'GothamLight', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

*{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

.center-align{
  text-align:center;
}

a {
  /* margin-bottom:100px; */
  padding:80px;
}



/* Header Part */

.web_header{
  padding: 0;
  margin: 0;
  width: 100%;
  height:60px;
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
  float:left;
  line-height: 1;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
          box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

.header_icon{
  margin-left:10%;
  margin-top:5px;
  float:left;
  display:inline-block;
}

.header_word{
  margin:3px 20px;
  padding: 0px 20px;
  margin-left: 15%;
  top:0;
  color:var(--lightBlue);
}

#header_part1{
  margin-top: 15px;
  margin-bottom: 2px;
  font-size:20px;
  font-family: 'BebasNeue';
  letter-spacing: 3px;
}

#header_part2{
  margin-top:2px;
  margin-bottom:2px;
  font-size: 10px;
  font-family:'GothamMedium';
  letter-spacing:1px;
}

/* Scroll To Top Button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--lightBlue); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 24px; /* Increase font size */
    opacity:0.4;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


/* Question Box Part */
.question-box{
  padding:32px;
  /* margin-top:70px; */
}

.question p{
  font-size: 30px;
  font-family:"GothamMedium";
  padding:16px;
  color:#fff;
  background-color: rgba(0,156,222,0.7);
  border-radius: 5px;
  margin-bottom:16px;
}

.button{
  margin-top:0;
  display:inline;
  height:50px;
  padding:0 8px;
  background-color:rgba(0,24,113,0.7);
  font-size: 26px;
  color:#fff;
  text-align: center;
  border-radius: 3px;
  cursor:pointer;
  border: 3px solid #999;
}

.button:visited,.button:hover{
  background-color:var(--Yellow);
}

.button-box{
  padding:0;
  text-align:center;
  position:relative;
  height:150px;
}

#q2_div{
  display:none;
}

#q3_div{
  display:none;
}

#q4_div{
  display:none;
}

#q5_div{
  display:none;
}

#q6_div{
  display:none;
}

#q5_div .button-box{
  height:500px;
}

#q5_div .button{
  display:block;
  margin-bottom:8px;
}
/* Crisis Supports */
.content ul{
  list-style-type: none;
}

#crisis_supports_div{
  background-color:rgba(0,156,222,0.5);
  color:#fff;
  padding:16px;
  font-size: 20px;
  width:80%;
  margin-left: 10%;
}

#crisis_title{
  border-bottom: 8px solid var(--lightBlue);
}


/* On Campus Part */
.lv1title{
  padding: 8px 0;
  border-bottom: 8px solid var(--darkBlue);
  display: inline-block;
  margin-top:60px;
  margin-bottom:30px;
  font-family:'BebasNeue';
  font-size: 40px;
}

.lv2title{
  padding:8px;
  margin-left: 16px;
  color: var(--darkBlue);
  font-family:'BebasNeue';
  font-size:30px;
}

.card-box{
  padding: 0 20px;
  margin-bottom: 16px;
}

.card-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  border: 1px solid #ddd;
  height:450px;
}

.card-list li{
  padding: 16px 16px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.card-list li:last-child{
  border-bottom:none;
}

.card-list li.sub_header{
  background-color: var(--darkBlue);
  color:#fff;
  font-family: 'BebasNeue';
  padding: 4px 8px;
  text-align: center;
}

.card-list li.blue{
  color:var(--darkBlue);
  text-align:center;
}

.card-list li a{
  color:var(--darkBlue);
  padding:0;
  /* text-decoration: none; */
}

.card-list:hover{
  -webkit-box-shadow:0 4px 16px 0 rgba(0,0,0,0.3), 0 4px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.3), 0 4px 20px 0 rgba(0,0,0,0.19);
}

/* Off Campus Services */
#off_campus .lv1title{
  border-bottom: 8px solid rgb(230, 116, 96);
}

#off_campus .lv2title{
  color:rgb(230, 116, 96);
}

#off_campus .card-list li.sub_header{
  background-color: rgb(230, 116, 96);
}

.lv3title{
  padding:8px;
  margin-left: 16px;
  color: var(--darkBlue);
  font-family:'BebasNeue';
  font-style: italic;
  font-size:25px;
}

.lv4title{
  font-family:'BebasNeue';
  font-style: bold;
  padding:8px;
  margin-left: 16px;
  font-size:25px;
}

/* Online Services */
#online .lv1title{
  border-bottom: 8px solid var(--lightBlue);
}

#online .lv2title{
  color:var(--lightBlue);
}

#online .card-list li.sub_header{
  background-color: var(--lightBlue);
}

#online .card-list{
  height:380px;
}





/* Tool Style */
.row::before,.row::after{
  clear:both;
  content:"";
  display:table;
}

.col{
  float:left;
}

.l4{
  width:33.33%;
}

.l6{
  width:50%;
}

.l12{
  width:100%;
}
@media only screen and (max-width:1000px){
  .s12{width:100%}
  .card-list{height:auto}
  .button{
    height:auto;
    margin-bottom:8px;
  }
  #online .card-list{height:auto}
}

.animate-bottom {
  position: relative;
  -webkit-animation: animationbottom 0.6s;
  animation: animationbottom 0.6s;
}
@-webkit-keyframes animationbottom {
  from {bottom: -300px;opacity: 0;}
  to {bottom: 0;opacity: 1}
}
@keyframes animationbottom {
  from {bottom: -300px;opacity: 0;}
  to {bottom: 0;opacity: 1}
}
